{% set meetings = meetings %}
{% include "templates/header.njk" %}
{% set isEnglish = page.url and page.url.startsWith("/en/") %}

  <main class="container">
    <h1 id="welcome">{{ title }}</h1>
    <p>
      {% if isEnglish %}
        Welcome to the WHIP BDSM community in Leipzig — glad you’re here!<br/>
        Here you’ll find information about <a href="/en/faq.html">us</a>, when we meet, our <a href="/en/konzept.html">concept</a>, and more.
      {% else %}
        Willkommen auf der Webseite der WHIP BDSM-Community in Leipzig – schön, dass Du da bist!<br/>
        Hier findest du Informationen über <a href="faq.html">uns</a>, wann wir uns treffen, unser <a href="konzept.html">Konzept</a> und noch einige andere Dinge.
      {% endif %}
    </p>
    {{content | safe}}
    <h2>{% if isEnglish %}Upcoming dates{% else %}Unsere nächsten Termine{% endif %}</h2>
    <ul>
      {% for meeting in meetings %}
        <li>
          {% switch meeting.type %}
            {% case "meeting" %}
              <a href="{% if isEnglish %}/en/faq.html#what-kinds-of-meetups-are-there-at-whip{% else %}faq.html#was-fuer-treffen-gibt-es-beim-whip{% endif %}">{% if isEnglish %}WHIP meetup{% else %}WHIP-Stammtisch{% endif %}</a>:
            {% case "play" %}
              <a href="{% if isEnglish %}/en/faq.html#what-kinds-of-meetups-are-there-at-whip{% else %}faq.html#was-fuer-treffen-gibt-es-beim-whip{% endif %}">Play-WHIP</a>:
          {% endswitch %}
          {% meetingDate meeting.date %}
          {% if meeting.topic %}
          <br />
          {% if isEnglish %}Topic{% else %}Thema{% endif %}: "{{ meeting.topic }}"
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <aside>
      <h3>{% if isEnglish %}Tip:{% else %}Tipp:{% endif %}</h3>
      <p>
        {% if isEnglish %}
          To stay updated on new dates, you can <a href="{{ calendar.permalink }}">subscribe to this address</a> in your calendar.
        {% else %}
          Um stets über neue Termine informiert zu sein, kannst du <a href="{{ calendar.permalink }}">diese Adresse</a> in deinem Kalender abonnieren.
        {% endif %}
      </p>
    </aside>
  </main>

{% include "templates/footer.njk" %}