{% set meetings = meetings %}
{% include "templates/header.njk" %}

  <main class="container">
    <h1 id="welcome">{{ title }}</h1>
    {{content | safe}}
    <h2>Unsere nächsten Termine</h2>
    <ul>
      {% for meeting in meetings %}
        <li>
          {% switch meeting.type %}
            {% case "meeting" %}
              <a href="faq.html#was-fuer-treffen-gibt-es-beim-whip">Whip-Stammtisch</a>:
            {% case "play" %}
              <a href="faq.html#was-fuer-treffen-gibt-es-beim-whip">Play-Whip</a>:
          {% endswitch %}
          {{ meeting.date }}
          {% if meeting.topic %}
          <br />
          Thema: "{{ meeting.topic }}"
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </main>

{% include "templates/footer.njk" %}