h1, h2, h3, h4, h5, h6 {font-family: 'Permanent Marker'}

#logo {
  width: 8rem;
  
  img {
    width: 100%;
    aspect-ratio: 1;
  }
}

aside {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

footer {
  justify-items: center;
}